.left{
    background-image: url("./Background.jpg");
    width: max(300px, 40vw);
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    flex: 0 0 auto;
}

@font-face { font-family: Norse-Bold; 
    src: url('Norse-Bold.otf'); } 

.odin-image{
    position: relative;
    top: 40vh;
    background-color: rgba(50,50,50,.6);
    width: 100%;
    color: white;
    font-family:  Norse-Bold;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 5;
    font-size: 36px;
}

.odin-image > img {
    height: 15vh;
    width: auto;
}

body {
    display: flex;
    gap: 0 1rem;
    height: 80vh;
    background-color: rgb(230,230,230);
    padding: 0;
    margin: 0;
    overflow: overlay;
}

.right {
    display:flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    padding: max(5rem, 5px) 3rem 0 3rem;
    font-size: 28px;
}


form {
    /* border: darkgray solid; */
    background-color:rgb(227,227,227);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
    gap: 2rem 5px;
    padding: 1rem;
}


.formHeader{
    grid-column-start: 1;
    grid-column-end: 3;
}

input{
    height: 3vh;
    width: max(250px, 15vw);
}

input,label{
    display:flex;
    flex-direction: column;
}

button {
    border-radius: 5%;
    background-color: #596D48;
    color: white;
    height: 5vh;
    font-size: 24px;
    width: max(250px, 15vw);

}

input:valid {
    border: green solid;
}

input:invalid {
    border: red solid;
}
input:placeholder-shown {
    border:none;
}
input:focus
{
    border: blue solid; 
}